
<row class="bg-dark">
    <columns large="7" small="12">
        <spacer size="10"></spacer>
        {{> header-date }}
        <spacer size="16"></spacer>
            <p class="lead"><b>Jacksonville</b>:<br /> Thursday, August 30th - Friday, August 31st</p>
            <p class="lead"><b>Ft. Lauderdale</b>:<br /> Thursday, September 13th</p>
            <p class="lead"><b>Jacksonville</b>:<br /> Thursday, September 20th - Friday, September 21st</p>
    </columns>
    <columns large="5" small="12">
        <spacer size="10"></spacer>
        <a href="https://www.eventbrite.com/e/drone-pilot-training-course-tickets-45990543955"><center><img src="http://res.cloudinary.com/inspectiondepot/image/upload/v1525982256/drone-pilot-training-email/cost.png" alt="Register today to save "></center></a>
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="text-center">
                    <center>
                        <p class="lead text-center" style="margin-bottom: 0;">Use promo code</p>
                        <spacer size="8"></spacer>
                    
                        <table cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="width: 180px; margin: 0 auto;">
                            <tr>
                                <td style="padding: 10px; text-align: center;"><span class="promocode">DRONECLASSPASS</span></td>
                            </tr>
                        </table>
                        <spacer size="8"></spacer>
                        <p class="lead text-center">at checkout!</p>
                    </center>
                </td>
            </tr>
        </table>

    </columns>
</row>