<row class="bg-dark">
<columns large="7" small="12">
    <spacer size="10"></spacer>
    {{> header-date }}
    <spacer size="10"></spacer>
    <h5>
    <ul>
        <li>July 19th - 20th</li>
        <li>August 30th - 31st</li>
        <li>September 27th - 28th</li>
    </ul>
    </h5>
</columns>
<columns large="5" small="12">
    <spacer size="10"></spacer>
    <center><img src="http://res.cloudinary.com/inspectiondepot/image/upload/v1525982256/drone-pilot-training-email/cost.png" alt="Register today to save $100"></center></columns>
</row>